form {
	margin-top: 16px;
}

form > .textbox {
	outline: 0;
	height: 42px;
	width: 600px;
	line-height: 42px;
	padding: 0 16px;
	color: #212121;
	border: 0;
	float: left;
	border-radius: 20px 20px 20px 20px;
}